<head>
  <style>
    body, table {
    background-color: #353638;
    text-align: center;
    color:872699;
    font-family:copperplate;
    font-size: 30px;
    }
    table {
      width: 100%;
    }
    h1, th {
      font-size: 50px;
    }
    th, td {
      width: 33.33%;
    }
    h2 {
      font-size: 40px;
    }
  </style>
</head>

<h1>
  <%= @player_1_name %> attacked <%= @player_2_name %>!
</h1>

<h1>
<%= @player_2_name %> HP: <%= @player_2_hp %>
</h1>