<head>
  <style>
    body {
    background-color: #353638;
    text-align: center;
    color:872699;
    font-family:copperplate;
    }
    h1 {
      font-size: 50px;color:872699;
    }
    h2 {
      font-size: 40px;color:872699;
    }
    li {
      color:ffffff;
    }
    label {
      color:872699;
    }
  </style>
</head>

<h1>Battle!</h1>
<h2>Sign in to play</h2>

<form action="/names" method="post">
 <li>
   <label for='player_1_name'>
     Player 1 name:
     <input type='text' name='player_1_name'>
   </label>
 </li>
 <li>
   <label for='player_2_name'>
     Player 2 name:
     <input type='text' name='player_2_name'>
   </label>
 </li>
     <input style="font-size: 20px; border-radius: 25%; background-color: #353638" type='submit' value='Submit'>
</form>